{% extends "base_email.html" %}
{% block email_body %}
    <p>
    Hi there, <b>{{ email }}</b><br>
    </p>
    <p>
    Just want to let you know that I have made some updates to the websites, including improving the UI and notification
    system. And most importantly <b>previous data has been removed</b> which means you will have to add again in order to get
    notified!
    </p>
    <p>This is a free service for De Anza and Foothill college student, however, it takes money for the hosting services
        and domain name. So, feel free to support or buy me a coffee through patreon, I would be very appreciated!
    </p>
    <a href="https://www.patreon.com/coursenotify">https://www.patreon.com/coursenotify</a>

    <p>
    Also let me know if you've got any new feature ideas, I'll see what I can do.
    </p>

    <p>Good luck on adding classes!</p>
    <p>Thank you</p>
{% endblock %}