{% extends "base_email.html" %}
{% block email_body %}
    <b class="success-text"> This is a confirmation email to inform you have successfully registered.</b>
    <table class="classes-table">
        <th>CRN</th>
        <th>Name</th>
        <th>Status</th>
        <th>Remove</th>
        {% for course in courses %}
            <tr>
                <td>{{ course.crn }}</td>
                <td>{{ course.classname }}</td>
                {% if course.status == "Open" %}
                    <td class="green-cell">{{ course.status }}</td>
                {% elif course.status == "Waitlist" %}
                    <td class="blue-cell">{{ course.status }}</td>
                {% elif course.status == "Full" %}
                    <td class="red-cell">{{ course.status }}</td>
                {% else %}
                    <td>{{ course.status }}</td>
                {% endif %}
                <td><a href="{{ course.remove_url }}">remove</a></td>
            </tr>
        {% endfor %}
    </table>
    <p> We will send you notifications if there are changes on seats availability</p>
{% endblock %}